DATABASE_NAME=""
DATABASE_HOST=""
DATABASE_PORT=
DATABASE_USERNAME=""
DATABASE_PASSWORD=""


# Configuration for connsole email sender.
#EMAIL__CONFIG__BACKEND="console"

# Configuration for smtp email sender.
#EMAIL__CONFIG__BACKEND="smtp"
#EMAIL__CONFIG__HOST="domain.com"
#EMAIL__CONFIG__PORT=587
#EMAIL__CONFIG__USERNAME="username"
#EMAIL__CONFIG__PASSWORD="password"
#EMAIL__CONFIG__USE_TLS=true
#EMAIL__CONFIG__USE_SSL=false
